exit_after_auth = false
pid_file = "./pidfile"

auto_auth {
   method "approle" {
       mount_path = "auth/approle"
       config = {
           role_id_file_path   = "/var/vault/config/agent/roleID"
           secret_id_file_path = "/var/vault/config/agent/secretID"
           remove_secret_id_file_after_reading = false
       }
   }

   sink "file" {
       config = {
           path = "/var/vault/config/agent/approleToken"
       }
   }
}

cache {
  use_auto_auth_token = true
}

listener "tcp" {
  address 			= "{{ env "HOST_IP" }}:8007"
  tls_cert_file = "{{ env "VAULT_CLIENT_CERT" }}"
	tls_key_file  = "{{ env "VAULT_CLIENT_KEY" }}"
}

vault {
	address = "https://{{ env "HOST_IP" }}:8200"
	ca_cert = "{{ env "VAULT_CACERT" }}"
}