go 1.26.1

use (
	./platform/deploy/kubernetes/cmd/render
	./services/booking
	./services/cinema
	./services/movie
	./services/notification
	./services/payment
	./services/seat
	./services/showtime
	./services/user
)
