[Unit]
Description=Vault Server
After=local-fs.target
After=network-online.target
After=cloud.service
After=consul.service
Requires=multi-user.target

[Service]
Type=simple
Restart=on-failure
SuccessExitStatus=0 SIGINT
KillSignal=SIGINT
ExecStart=/bin/bash /vagrant/provision/vault/system/vault-init.sh
ExecStopPost=/bin/sleep 10

[Install]
WantedBy=multi-user.target
