consul {
  address = "[[ env "CONSUL_IP" ]]:[[ env "CONSUL_PORT" ]]"
  
  ssl {
    enabled = [[ if eq (env "CONSUL_SSL") "true" ]]true[[ else ]]false[[end]]
    ca_cert = "[[ env "CA_CERT_FILE" ]]"
  }
}

vault {
  address     = "https://vault.service.consul:8200"
  token       = "[[ env "VAULT_TOKEN" ]]"
  renew_token = false

  ssl {
    ca_cert = "[[ env "CA_CERT_FILE" ]]"
  }
}

secret {
  no_prefix = true
  path   = "secret/[[ env "APP_NAME" ]]"
}