bind_addr  = "{{ env "HOST_IP" }}"
datacenter =  "{{ env "DATACENTER" }}-ncv"
region     =  "{{ env "DATACENTER" }}-region"
data_dir   = "/var/nomad/data"
log_level  = "DEBUG"

leave_on_terminate   = true
leave_on_interrupt   = true
disable_update_check = true

client {
    enabled = true
}
addresses {
    rpc  = "{{ env "HOST_IP" }}"
    http = "{{ env "HOST_IP" }}"
    serf = "{{ env "HOST_IP" }}"
}
advertise {
    http = "{{ env "HOST_IP" }}:4646"
    rpc  = "{{ env "HOST_IP" }}:4647"
    serf = "{{ env "HOST_IP" }}:4648"
}
consul {
    address = "{{ env "HOST_IP" }}:8500"
    
    client_service_name = "nomad-{{ env "DATACENTER" }}-client"
    server_service_name = "nomad-{{ env "DATACENTER" }}-server"

    auto_advertise      = true
    server_auto_join    = true
    client_auto_join    = true

    ca_file    = "{{ env "CONSUL_CACERT" }}"
    cert_file  = "{{ env "CONSUL_CLIENT_CERT" }}"
    key_file   = "{{ env "CONSUL_CLIENT_KEY" }}"
    ssl        = {{ env "CONSUL_SSL" }}
    verify_ssl = {{ env "CONSUL_SSL" }}

    token   = "{{ env "CONSUL_HTTP_TOKEN" }}"
}

server {
    enabled = true
    bootstrap_expect = 1
}

tls {
    http = true
    rpc  = true

    ca_file    = "{{ env "NOMAD_CACERT" }}"
    cert_file  = "{{ env "NOMAD_CLIENT_CERT" }}"
    key_file   = "{{ env "NOMAD_CLIENT_KEY" }}"

    verify_https_client    = false
    verify_server_hostname = true
}